* {
    font-family: 'SF Pro';
    font-weight: bold;
    font-size: 14px;
    color: #ededed;
    background: transparent;
    border: none;
    outline: none;
}

#window {
    border-radius: 0px;
    border: none;
    background-color: #1e1e1e;
}

#input {
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: none;
    margin: 8px;
    border: 2px solid rgba(0, 0, 0, 0);
}

#input:focused {
    background-color: #343434;
    border: 2px solid #637c94;
}

#outer-box {
    border-radius: 4px;
    border: none;
}

#inner-box {
    padding: 8px;
    border-top: 1px solid #343434;
}

#img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#entry {
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #343434;
}
