[Unit]
Description=Load rtw88 driver and bring up wlan0
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe rtw88_8822ce
ExecStart=/usr/bin/ip set wlan0 up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
