@define-color black #000000;
@define-color background #1e1e1e;
@define-color foreground #ededed;
@define-color gray #919191;
@define-color disabled #343434;

* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'SF Pro';
    font-weight: bold;
    font-size: 12px;
    color: @foreground;
    min-width: 14px;
}

window#waybar {
    background: @black;
}

#custom-dunst {
    padding-right: 8px;
}

.modules-left,
.modules-right {}

#tray>*>* {
    padding: 0 4px;
}

/*-----modules indv----*/
#workspaces * {
    margin: 0px;
    min-height: 0px;
    color: @disabled;
}

#workspaces button {
    padding: 2px 4px;
}

#workspaces button.focused {}

#workspaces button:hover {}

#workspaces button.visible * {
    color: @gray;
}

#workspaces button.active * {
    color: @foreground;
}
